body {
  background-image: url(https://krsinich.files.wordpress.com/2023/05/img_4804.jpg?w=2048);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

div.background {
  background: padding-box repeat;
}

div.transbox1 {
  margin: 60px;
  /* border: 5px solid rgb(195, 84, 84); */
  opacity: 0.4;
  background-image: url(https://media1.tenor.com/images/c30d6490196742a193c2ed49a45e364b/tenor.gif?itemid=12740211);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.transbox2 {
  margin: 60px;
  border: 5px solid rgb(195, 84, 84);
  opacity: 0.95;
  background-image: url(https://krsinich.files.wordpress.com/2020/07/11115755_1554247428175366_1618518049149356207_n.jpg?w=562&h=&zoom=2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.transbox3 {
  margin: 60px;
  background-color: #ffffff;
  /* border: 5px solid rgb(195, 84, 84); */
  opacity: 0.4;
  text-align: left;
  background: url('https://media3.giphy.com/media/LWBkgGLVvDBJK/200.gif')
    repeat-x scroll 0 0 transparent;
}

div.transbox p {
  margin: 10%;
  font-weight: bold;
  color: #000000;
}

h1 {
  font-family: 'Courier New';
  font-size: 85px;
  color: rgb(158, 45, 54);
}
h2 {
  font-family: 'Courier New';
  font-size: 60px;
  color: rgb(30, 65, 117);
}
p {
  font-size: 40px;
  color: rgb(30, 65, 117);
}
div {
}

.para-text {
  color: white;
}

#special-font {
  font-family: 'Courier New';
  font-size: 30px;
  color: darkred;
}
